
<div class="table-border" appearance="outlined">
  <h1>Clients</h1>
  <button mat-raised-button (click)="openModalEditclient('create',client)">Create +</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let client"> {{client.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let client"> {{client.name}} </td>
    </ng-container>


    <ng-container matColumnDef="cellphone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let client"> {{client.cellphone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let client"> {{client.email}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let client"> {{client.tipo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="action">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td class="td-table" mat-cell *matCellDef="let client">
            <mat-icon (click)="openModalEditclient('view',client)" >visibility</mat-icon>
            <mat-icon (click)="openModalEditclient('edit',client)">edit</mat-icon>
            <mat-icon (click)="openModalDeleteClient()">delete</mat-icon>
          </td>
        </ng-container>
  </table>
</div>
