@if(mode ==='delete'){
  <h2 mat-dialog-title>
    Delete Client
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content>
    <p>
      Do you confirm the customer deletion?
    </p>
  </mat-dialog-content>
    <div class="margin-ajust" align="end">
    <button mat-raised-button color="primary" (click)="deleteClient()">Confirm</button>
  </div>
}@else {
  <div>
    <h2 mat-dialog-title>
      {{ mode === 'create' ? 'Criar Item' : mode === 'edit' ? 'Editar Item' : 'Visualizar Item' }}
      <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>

    </h2>
  </div>
  <mat-dialog-content>
    <form [formGroup]="form">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" name="name">
          @if(form.controls['name'].invalid){
            <mat-error>{{errorForm}}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            @for (type of typeClient; track type) {
              <mat-option [value]="type.description">{{ type.description }}</mat-option>
            }
          </mat-select>
          @if(form.controls['type'].invalid){
            <mat-error>{{errorForm}}</mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Cellphone</mat-label>
          <input matInput formControlName="cellphone" name="cellphone">
          @if(form.controls['cellphone'].invalid){
            <mat-error>{{errorForm}}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email">
          @if(form.controls['email'].invalid){
            <mat-error>{{errorForm}}</mat-error>
          }
        </mat-form-field>
      </p>

    </form>
  </mat-dialog-content>

  <div class="margin-ajust" align="end">
    <button mat-raised-button color="primary" (click)="onSave()">
      {{ mode === 'create' ? 'Create' : mode === 'edit' ? 'Edit' : 'View' }}
    </button>
  </div>
}


