<div class="card-container">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-raised-button>Enter</button>
      </mat-card-actions>
  </mat-card>
</div>

