<div class="card-container">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formLogin" >
          <p>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" name="email" type="text">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" name="password" type="password">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-raised-button type="submit" (click)="login()" >Enter</button>
      </mat-card-actions>
  </mat-card>
</div>

