.example-spacer {
  flex: 1 1 auto;
}

.sidenav{
  width: 250px;
  border: 1px;
  background-color: #abc7ff;
  border-radius: 10px;
  border-right: solid;
}

mat-sidenav-content{
  height: 100vh;
  background-color: white;
}

mat-toolbar{
  background-color: #abc7ff;

}

.toolbar-menu{
  position:fixed;
  z-index: 1000;
}

a{
  padding: 14px 24px;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 0.3s linear all;
  mat-icon{margin-bottom: -5px; font-size:22px ;}
}

.local-border{
  border-width:20px;
  margin-right:20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.login-ajust{
  position: absolute;
  bottom: 10px;
}

.button-login{
  border: none;
  padding: 14px 24px;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 0.3s linear all;
  mat-icon{margin-bottom: -5px; font-size:22px ;}
}

.padding-style{
  padding-right: 250px;
}
