.example-spacer {
  flex: 1 1 auto;
}

.sidenav{
  width: 250px;
  border: 1px;
  background-color: #71bdf0;
  border-radius: 0px;
}

mat-sidenav-content{
  height: 100vh;
  background-color: white;
}

mat-toolbar{
  background-color: #71bdf0;

}

.toolbar-menu{
  position:fixed;
}

.main-content{
  margin-top: 80px;
}

a{
  padding: 14px 24px;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 0.3s linear all;
  mat-icon{margin-bottom: -5px; font-size:22px ;}
}
